@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

svg{
  overflow: visible;
}

.zoom {
  animation: hover-scale 5s ease;
}


@keyframes hover-scale {
  from { stroke-width: 10;}
  to {stroke-width: 12;}
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
  z-index: 40;
  position: relative;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  z-index: 30;
  position: relative;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}